[build]
base = "."
command = "corepack enable && pnpm install --frozen-lockfile && pnpm run build"
publish = "dist/spa"

[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  
[[redirects]]
from = "/*"
to = "/index.html"
status = 200
